Node Red Flows/All Cages (Known Command Logger)/Cage 3/flows (3).json
[{"id":"5f7f2de28d3fc80b","type":"tab","label":"Cage 3","disabled":false,"info":"","env":[]},{"id":"7a0c32fc0ea61c9f","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":false}","payloadType":"json","x":720,"y":80,"wires":[["78e6918d32fd789d"]]},{"id":"9f0e24eaaba88b85","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":490,"y":260,"wires":[]},{"id":"8a2c2ab7dfca25b3","type":"inject","z":"5f7f2de28d3fc80b","name":"Train Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY0\\n\"","payloadType":"json","x":210,"y":120,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"417e3b5834f06796","type":"cronplus","z":"5f7f2de28d3fc80b","name":"Train Schedule Cage 3","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 42 0 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 32 2 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 33 4 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 20 6 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 20 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 1 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 48 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 06 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 42 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 12 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 58 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 11 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 32 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule15","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 14 15 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule16","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 0 16 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule17","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 5 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule18","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 37 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule19","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 21 18 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule20","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 16 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule21","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 40 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule22","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 11 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule23","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 7 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule24","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 47 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule25","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 2 23 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":240,"y":460,"wires":[["8ce6389e8d657ae9","54561312a043c9b2","388b77c2e0da36e9"]]},{"id":"4b1a63dbcc31f848","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED OFF\\n\"","payloadType":"json","x":211,"y":78,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"207d25998402f1d1","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED ON\\n\"","payloadType":"json","x":210,"y":40,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"78e6918d32fd789d","type":"serial control","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":890,"y":80,"wires":[["0fbdf8268d3b3390"]]},{"id":"0fbdf8268d3b3390","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":80,"wires":[]},{"id":"9b22327203e110d5","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":200,"wires":[]},{"id":"58c767771771e8ed","type":"serial in","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":690,"y":140,"wires":[["b4105c66b3cc7af0"]]},{"id":"b4105c66b3cc7af0","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"77172043fffa47e2","type":"inject","z":"5f7f2de28d3fc80b","name":"Siren Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY1\\n\"","payloadType":"json","x":210,"y":160,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"189281262f363f78","type":"inject","z":"5f7f2de28d3fc80b","name":"Jack Hammer Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY2\\n\"","payloadType":"json","x":240,"y":200,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"9e6a3e77aed7faf5","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLUP\\n\"","payloadType":"json","x":200,"y":240,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"de94a198c1344946","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLDOWN\\n\"","payloadType":"json","x":220,"y":280,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"b5c03d35493a6ac3","type":"cronplus","z":"5f7f2de28d3fc80b","name":"Siren Schedule Cage 3","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 30 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 30 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":250,"y":660,"wires":[["4cc845e691892ccc"]]},{"id":"f3d8309b55fa2e32","type":"cronplus","z":"5f7f2de28d3fc80b","name":"Jack Hammer Schedule Cage 3","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 00 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":770,"y":300,"wires":[["de2f5faa07d4027e"]]},{"id":"8424cecca93862dc","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTOFF\\n\"","payloadType":"json","x":220,"y":360,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"a37211263b4e2498","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTON\\n\"","payloadType":"json","x":209,"y":322,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"bc0df415d0e19d4a","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":460,"wires":[["08621071565afabf","54561312a043c9b2","388b77c2e0da36e9"]]},{"id":"8ce6389e8d657ae9","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["bc0df415d0e19d4a","54561312a043c9b2","388b77c2e0da36e9"]]},{"id":"5618728dbff8754a","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":460,"wires":[["54561312a043c9b2","a277212bd8f7dc53","388b77c2e0da36e9"]]},{"id":"08621071565afabf","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":460,"wires":[["39a5a29663847ddb"]]},{"id":"a14af0492a423456","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":460,"wires":[["54561312a043c9b2","388b77c2e0da36e9"]]},{"id":"54561312a043c9b2","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":610,"y":500,"wires":[]},{"id":"8d554bc38538821b","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTLR\\n\"","payloadType":"json","x":210,"y":400,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"39a5a29663847ddb","type":"function","z":"5f7f2de28d3fc80b","name":"Train Sound ","func":"msg. payload = \"PLAY0\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":420,"wires":[["0af68e8590572b86","5618728dbff8754a","388b77c2e0da36e9"]]},{"id":"0af68e8590572b86","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":1010,"y":420,"wires":[]},{"id":"c9374bdf8ea3ae51","type":"timegate","z":"5f7f2de28d3fc80b","name":"Siren Schedule 3","targetDateTime":"targetDateTime","targetDateTimeType":"msg","lat":0,"lon":0,"time_1":"19:30-19:30","day_1":"SUN,MON,TUE,WED,THU,FRI,SAT","week_1":"","month_1":"","time_2":"19:41-19:41","day_2":"SUN,MON,TUE,WED,THU,FRI,SAT","week_2":"","month_2":"","time_3":"","day_3":"","week_3":"","month_3":"","time_4":"","day_4":"","week_4":"","month_4":"","time_5":"","day_5":"","week_5":"","month_5":"","x":330,"y":740,"wires":[["660e0530065ae184"],["90f47ece12375c1c"]]},{"id":"4cc845e691892ccc","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":150,"y":740,"wires":[["c9374bdf8ea3ae51"]]},{"id":"a277212bd8f7dc53","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":460,"wires":[["a14af0492a423456"]]},{"id":"c269d6b769dcb00c","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":830,"y":680,"wires":[]},{"id":"bf2e137153a5f7d3","type":"function","z":"5f7f2de28d3fc80b","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":600,"wires":[["c269d6b769dcb00c","6a8a3c90a4354fae","95b6c415852d086d"]]},{"id":"6a8a3c90a4354fae","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":600,"wires":[["1222158c17454f20","c269d6b769dcb00c","95b6c415852d086d"]]},{"id":"1222158c17454f20","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920,"y":600,"wires":[["a2cd481e7c38f835"]]},{"id":"a2cd481e7c38f835","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":600,"wires":[["c269d6b769dcb00c","660e0530065ae184","95b6c415852d086d"]]},{"id":"6f572040445de622","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":890,"y":860,"wires":[]},{"id":"f8fd24840f243d30","type":"function","z":"5f7f2de28d3fc80b","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":780,"wires":[["6f572040445de622","5a94e191652c3960","950185c5ba3e041b"]]},{"id":"5a94e191652c3960","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":780,"wires":[["4894e8c06e16401b","6f572040445de622","950185c5ba3e041b"]]},{"id":"4894e8c06e16401b","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":780,"wires":[["cb9cda2537f4fc7d"]]},{"id":"cb9cda2537f4fc7d","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":780,"wires":[["6f572040445de622","90f47ece12375c1c","950185c5ba3e041b"]]},{"id":"de2f5faa07d4027e","type":"function","z":"5f7f2de28d3fc80b","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":240,"wires":[["16cc94e34b842078","c090578872826837","978f0f7dfc82a918"]]},{"id":"16cc94e34b842078","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":1310,"y":320,"wires":[]},{"id":"c090578872826837","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1300,"y":240,"wires":[["483834d0bb649c15"]]},{"id":"660e0530065ae184","type":"counter-loop","z":"5f7f2de28d3fc80b","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"8","terminationType":"num","increment":1,"incrementType":"num","x":600,"y":680,"wires":[["c269d6b769dcb00c"],["bf2e137153a5f7d3"]]},{"id":"90f47ece12375c1c","type":"counter-loop","z":"5f7f2de28d3fc80b","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"15","terminationType":"num","increment":1,"incrementType":"num","x":670,"y":860,"wires":[["6f572040445de622"],["f8fd24840f243d30"]]},{"id":"483834d0bb649c15","type":"counter-loop","z":"5f7f2de28d3fc80b","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"60","terminationType":"num","increment":1,"incrementType":"num","x":1110,"y":320,"wires":[["16cc94e34b842078"],["de2f5faa07d4027e"]]},{"id":"85b24ea99aa84a7d","type":"file","z":"5f7f2de28d3fc80b","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1430,"y":380,"wires":[["7f843c3806cac074"]]},{"id":"978f0f7dfc82a918","type":"function","z":"5f7f2de28d3fc80b","name":"function 19","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":380,"wires":[["85b24ea99aa84a7d"]]},{"id":"7f843c3806cac074","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 44","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":380,"wires":[]},{"id":"12974d3587cc8e52","type":"file","z":"5f7f2de28d3fc80b","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1010,"y":520,"wires":[["cb4e5af14572a82d"]]},{"id":"388b77c2e0da36e9","type":"function","z":"5f7f2de28d3fc80b","name":"function 20","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":520,"wires":[["12974d3587cc8e52"]]},{"id":"cb4e5af14572a82d","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":520,"wires":[]},{"id":"7a749530dbaf6a1c","type":"file","z":"5f7f2de28d3fc80b","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1130,"y":720,"wires":[["2cda6fe16e02d01b"]]},{"id":"95b6c415852d086d","type":"function","z":"5f7f2de28d3fc80b","name":"function 21","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":720,"wires":[["7a749530dbaf6a1c"]]},{"id":"2cda6fe16e02d01b","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 46","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":720,"wires":[]},{"id":"7d8a3f117baff7b7","type":"file","z":"5f7f2de28d3fc80b","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1050,"y":920,"wires":[["43dca9db83ebb500"]]},{"id":"950185c5ba3e041b","type":"function","z":"5f7f2de28d3fc80b","name":"function 22","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":920,"wires":[["7d8a3f117baff7b7"]]},{"id":"43dca9db83ebb500","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 47","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":920,"wires":[]},{"id":"e33994d2a7304ead","type":"serial-port","name":"","serialport":"COM7","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]