Node Red Flows/Cage 4/flows (4).json
[{"id":"c8450fbabd7d02ee","type":"tab","label":"Cage 4","disabled":false,"info":"","env":[]},{"id":"ddc42b8a82c1bbaa","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":false}","payloadType":"json","x":740,"y":80,"wires":[["7f163216b286a7f0"]]},{"id":"8c740663accd83ef","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":511,"y":258,"wires":[]},{"id":"9d17ba5244579020","type":"inject","z":"c8450fbabd7d02ee","name":"Train Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY0\\n\"","payloadType":"json","x":211,"y":118,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"5dc6e612b5efff73","type":"cronplus","z":"c8450fbabd7d02ee","name":"Train Schedule Cage 4","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 58 0 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 52 2 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 34 5 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 31 6 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 27 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 07 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 15 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 45 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 28 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 04 11 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 12 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 53 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule15","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 21 15 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule16","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 21 16 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule17","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 10 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule18","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule19","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 57 18 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule20","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 20 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule21","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 49 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule22","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 26 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule23","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 17 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule24","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 05 22 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule25","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 22 23 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":240,"y":440,"wires":[["9d2fb0fc3b7378d2","f6ae129a7247ed0c"]]},{"id":"8d1145ae7b56fcd8","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED OFF\\n\"","payloadType":"json","x":212,"y":76,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"ac4ea7994ce48f62","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED ON\\n\"","payloadType":"json","x":211,"y":38,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"7f163216b286a7f0","type":"serial control","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":910,"y":80,"wires":[["1dcead8dc2b9a820"]]},{"id":"1dcead8dc2b9a820","type":"debug","z":"c8450fbabd7d02ee","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":80,"wires":[]},{"id":"da6efdaf5aad242e","type":"debug","z":"c8450fbabd7d02ee","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":521,"y":198,"wires":[]},{"id":"da257dc2e9f2bfde","type":"serial in","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":710,"y":140,"wires":[["5b7ba0b1ed862277"]]},{"id":"5b7ba0b1ed862277","type":"debug","z":"c8450fbabd7d02ee","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":140,"wires":[]},{"id":"702f36cf80c76338","type":"inject","z":"c8450fbabd7d02ee","name":"Siren Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY1\\n\"","payloadType":"json","x":211,"y":158,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"57d2442b50cec939","type":"inject","z":"c8450fbabd7d02ee","name":"Jack Hammer Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY2\\n\"","payloadType":"json","x":241,"y":198,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"27f89d09fb12855e","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLUP\\n\"","payloadType":"json","x":201,"y":238,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"07086f7165acce9d","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLDOWN\\n\"","payloadType":"json","x":221,"y":278,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"d6c8b7b150ba3063","type":"cronplus","z":"c8450fbabd7d02ee","name":"Siren Schedule Cage 4","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 30 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 50 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":250,"y":640,"wires":[["1727b53bbea8a40f"]]},{"id":"a20a5bf8b637b290","type":"cronplus","z":"c8450fbabd7d02ee","name":"Jack Hammer Schedule Cage 4","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 00 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":790,"y":280,"wires":[["90c040694da0422d"]]},{"id":"4d5d51139d7ab5ff","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTOFF\\n\"","payloadType":"json","x":221,"y":358,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"c2cc05c3bb9caf31","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTON\\n\"","payloadType":"json","x":210,"y":320,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"12a9f36e04489a31","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":440,"wires":[["a24cbd7de6a68bbd","f6ae129a7247ed0c"]]},{"id":"9d2fb0fc3b7378d2","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[["12a9f36e04489a31","f6ae129a7247ed0c"]]},{"id":"cc8feb4c191af961","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":440,"wires":[["f6ae129a7247ed0c","9ddcd9e52b0f8b71"]]},{"id":"a24cbd7de6a68bbd","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":440,"wires":[["c6168621484f03fb"]]},{"id":"16be993ee1d70d09","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":440,"wires":[["f6ae129a7247ed0c"]]},{"id":"c15c06ab4a483508","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTLR\\n\"","payloadType":"json","x":211,"y":398,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"f6ae129a7247ed0c","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":610,"y":480,"wires":[]},{"id":"c6168621484f03fb","type":"function","z":"c8450fbabd7d02ee","name":"Train Sound ","func":"msg. payload = \"PLAY0\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":400,"wires":[["4938da8209c72a04","cc8feb4c191af961"]]},{"id":"4938da8209c72a04","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":990,"y":400,"wires":[]},{"id":"a8416aafdc8b3cdb","type":"timegate","z":"c8450fbabd7d02ee","name":"Siren Schedule 4","targetDateTime":"targetDateTime","targetDateTimeType":"msg","lat":0,"lon":0,"time_1":"19:30-19:30","day_1":"SUN,MON,TUE,WED,THU,FRI,SAT","week_1":"","month_1":"","time_2":"19:50-19:50","day_2":"SUN,MON,TUE,WED,THU,FRI,SAT","week_2":"","month_2":"","time_3":"","day_3":"","week_3":"","month_3":"","time_4":"","day_4":"","week_4":"","month_4":"","time_5":"","day_5":"","week_5":"","month_5":"","x":350,"y":740,"wires":[["9deae95dd3c574b3"],["c7026b5320bf3ad9"]]},{"id":"1727b53bbea8a40f","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":170,"y":740,"wires":[["a8416aafdc8b3cdb"]]},{"id":"9ddcd9e52b0f8b71","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":440,"wires":[["16be993ee1d70d09"]]},{"id":"ddbaabd54fdfc29a","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":830,"y":660,"wires":[]},{"id":"2b48f4eea759cae7","type":"function","z":"c8450fbabd7d02ee","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":580,"wires":[["ddbaabd54fdfc29a","db89f0cca59ba36a"]]},{"id":"db89f0cca59ba36a","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":580,"wires":[["55d51d1b52400f81","ddbaabd54fdfc29a"]]},{"id":"55d51d1b52400f81","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920,"y":580,"wires":[["18e8ce2b26a5b8ba"]]},{"id":"18e8ce2b26a5b8ba","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":580,"wires":[["ddbaabd54fdfc29a","9deae95dd3c574b3"]]},{"id":"e697e1923d93db28","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":890,"y":820,"wires":[]},{"id":"9bd645d1790707aa","type":"function","z":"c8450fbabd7d02ee","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":740,"wires":[["e697e1923d93db28","ed248c7cd3aea188"]]},{"id":"ed248c7cd3aea188","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":740,"wires":[["a6d7120927152959","e697e1923d93db28"]]},{"id":"a6d7120927152959","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":740,"wires":[["945d869a3b79e427"]]},{"id":"945d869a3b79e427","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":740,"wires":[["e697e1923d93db28","c7026b5320bf3ad9"]]},{"id":"90c040694da0422d","type":"function","z":"c8450fbabd7d02ee","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":240,"wires":[["df50a7c983e98bb8","6ecf499c7dc4fc31"]]},{"id":"df50a7c983e98bb8","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":1370,"y":320,"wires":[]},{"id":"6ecf499c7dc4fc31","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1360,"y":240,"wires":[["6b2c083941e11f7c"]]},{"id":"9deae95dd3c574b3","type":"counter-loop","z":"c8450fbabd7d02ee","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"15","terminationType":"num","increment":1,"incrementType":"num","x":610,"y":660,"wires":[["ddbaabd54fdfc29a"],["2b48f4eea759cae7"]]},{"id":"c7026b5320bf3ad9","type":"counter-loop","z":"c8450fbabd7d02ee","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"8","terminationType":"num","increment":1,"incrementType":"num","x":660,"y":820,"wires":[["e697e1923d93db28"],["9bd645d1790707aa"]]},{"id":"6b2c083941e11f7c","type":"counter-loop","z":"c8450fbabd7d02ee","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"60","terminationType":"num","increment":1,"incrementType":"num","x":1170,"y":320,"wires":[["df50a7c983e98bb8"],["90c040694da0422d"]]},{"id":"f1c926da4c74ad5e","type":"serial-port","name":"","serialport":"COM8","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]