Node Red Flows/All Cages (Known Command Logger)/Cage 2/flows (2).json
[{"id":"615a331e854943d7","type":"tab","label":"Cage 2","disabled":false,"info":"","env":[]},{"id":"ed9978cee5ab8d21","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":false}","payloadType":"json","x":720,"y":100,"wires":[["bfb2ac36c6111fc3"]]},{"id":"8589378722a3ec18","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":470,"y":260,"wires":[]},{"id":"a50b7b3f498e1501","type":"inject","z":"615a331e854943d7","name":"Train Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY0\\n\"","payloadType":"json","x":210,"y":120,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"7757fb6d224a1e0a","type":"cronplus","z":"615a331e854943d7","name":"Train Schedule Cage 2","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 53 1 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 53 3 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 05 6 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 14 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 56 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 23 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 01 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 37 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 07 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 43 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 37 11 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 33 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 16 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 59 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule15","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 15 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule16","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 1 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule17","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 24 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule18","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 05 18 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule19","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 08 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule20","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 31 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule21","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 3 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule22","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule23","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 31 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule24","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 22 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule25","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 46 23 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":220,"y":480,"wires":[["8ec52360a10a0430","7b10bd28d0e6381f","519c20e828c4222e"]]},{"id":"73557da13711431c","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED OFF\\n\"","payloadType":"json","x":211,"y":78,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"4747a902d78e912e","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED ON\\n\"","payloadType":"json","x":210,"y":40,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"bfb2ac36c6111fc3","type":"serial control","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":870,"y":100,"wires":[["7b07eabe51f8ac4d"]]},{"id":"7b07eabe51f8ac4d","type":"debug","z":"615a331e854943d7","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":100,"wires":[]},{"id":"1b0d5e4ece8c5ade","type":"debug","z":"615a331e854943d7","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":200,"wires":[]},{"id":"01560b377938c42a","type":"serial in","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":690,"y":160,"wires":[["9986eabf277932b2"]]},{"id":"9986eabf277932b2","type":"debug","z":"615a331e854943d7","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":160,"wires":[]},{"id":"647b78d9d050dbc2","type":"inject","z":"615a331e854943d7","name":"Siren Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY1\\n\"","payloadType":"json","x":210,"y":160,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"93e1a2dd3b9e1211","type":"inject","z":"615a331e854943d7","name":"Jack Hammer Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY2\\n\"","payloadType":"json","x":240,"y":200,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"16671516ad76a83f","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLUP\\n\"","payloadType":"json","x":201,"y":238,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"8d6b37276f09eeb7","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLDOWN\\n\"","payloadType":"json","x":221,"y":278,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"16758d8f3e2f720d","type":"cronplus","z":"615a331e854943d7","name":"Siren Schedule Cage 2","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 32 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":770,"y":300,"wires":[["10630af4b8297109"]]},{"id":"b0a31128d5bd9201","type":"cronplus","z":"615a331e854943d7","name":"Jack Hammer Schedule Cage 2","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 00 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 54 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":250,"y":620,"wires":[["45fe37a3d6b07d8b"]]},{"id":"343695c1ac038472","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTOFF\\n\"","payloadType":"json","x":221,"y":358,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"249430bff0aea317","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTON\\n\"","payloadType":"json","x":210,"y":320,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"206ecc5061e10584","type":"function","z":"615a331e854943d7","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":460,"wires":[["7736fc0cbd7b1fb9","7b10bd28d0e6381f","519c20e828c4222e"]]},{"id":"8ec52360a10a0430","type":"function","z":"615a331e854943d7","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["206ecc5061e10584","7b10bd28d0e6381f","519c20e828c4222e"]]},{"id":"f34e483ee01cfae4","type":"function","z":"615a331e854943d7","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":460,"wires":[["7b10bd28d0e6381f","d6788957e23fe223","519c20e828c4222e"]]},{"id":"7736fc0cbd7b1fb9","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":460,"wires":[["408c5ba4b5d59429"]]},{"id":"1cda444ce674488e","type":"function","z":"615a331e854943d7","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":460,"wires":[["7b10bd28d0e6381f","519c20e828c4222e"]]},{"id":"7b10bd28d0e6381f","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":790,"y":520,"wires":[]},{"id":"ed6646712ee2c8a7","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTLR\\n\"","payloadType":"json","x":210,"y":400,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"408c5ba4b5d59429","type":"function","z":"615a331e854943d7","name":"Train Sound ","func":"msg. payload = \"PLAY0\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":420,"wires":[["a52784f489db5a3f","f34e483ee01cfae4","519c20e828c4222e"]]},{"id":"a52784f489db5a3f","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":1010,"y":420,"wires":[]},{"id":"e39e3f0d2ccb2b9d","type":"timegate","z":"615a331e854943d7","name":"Jack Hammer Schedule 2","targetDateTime":"targetDateTime","targetDateTimeType":"msg","lat":0,"lon":0,"time_1":"3:00-3:00","day_1":"SUN,MON,TUE,WED,THU,FRI,SAT","week_1":"","month_1":"","time_2":"3:54-03:54","day_2":"SUN,MON,TUE,WED,THU,FRI,SAT","week_2":"","month_2":"","time_3":"","day_3":"","week_3":"","month_3":"","time_4":"","day_4":"","week_4":"","month_4":"","time_5":"","day_5":"","week_5":"","month_5":"","x":310,"y":700,"wires":[["940848ee4d6a601b"],["4caedbb070bec303"]]},{"id":"45fe37a3d6b07d8b","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":110,"y":700,"wires":[["e39e3f0d2ccb2b9d"]]},{"id":"d6788957e23fe223","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1080,"y":460,"wires":[["1cda444ce674488e"]]},{"id":"ce11848855a0a6a8","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":1330,"y":340,"wires":[]},{"id":"d62374f39e631e57","type":"function","z":"615a331e854943d7","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":260,"wires":[["ce11848855a0a6a8","b7bed690d7238bce","aff071f401ddf002"]]},{"id":"b7bed690d7238bce","type":"function","z":"615a331e854943d7","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":260,"wires":[["b9855999d650e29c","ce11848855a0a6a8","aff071f401ddf002"]]},{"id":"b9855999d650e29c","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1420,"y":260,"wires":[["e3fc9911e87a7dd0"]]},{"id":"e3fc9911e87a7dd0","type":"function","z":"615a331e854943d7","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":260,"wires":[["ce11848855a0a6a8","10630af4b8297109","aff071f401ddf002"]]},{"id":"940848ee4d6a601b","type":"function","z":"615a331e854943d7","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":640,"wires":[["8d51e02954d70ffa","80755c33397afd8c","10c2ad97b47d033c"]]},{"id":"8d51e02954d70ffa","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":870,"y":720,"wires":[]},{"id":"80755c33397afd8c","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":640,"wires":[["8eff51857f4a4b8f"]]},{"id":"4caedbb070bec303","type":"function","z":"615a331e854943d7","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":800,"wires":[["1f060faee54e2336","1cd902e4088d1340","945a4889cf1aebd8"]]},{"id":"1f060faee54e2336","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":890,"y":880,"wires":[]},{"id":"1cd902e4088d1340","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":800,"wires":[["16bf3da3b03b6715"]]},{"id":"10630af4b8297109","type":"counter-loop","z":"615a331e854943d7","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"22","terminationType":"num","increment":1,"incrementType":"num","x":1110,"y":340,"wires":[["ce11848855a0a6a8"],["d62374f39e631e57"]]},{"id":"8eff51857f4a4b8f","type":"counter-loop","z":"615a331e854943d7","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"60","terminationType":"num","increment":1,"incrementType":"num","x":670,"y":720,"wires":[["8d51e02954d70ffa"],["940848ee4d6a601b"]]},{"id":"16bf3da3b03b6715","type":"counter-loop","z":"615a331e854943d7","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"102","terminationType":"num","increment":1,"incrementType":"num","x":690,"y":880,"wires":[["1f060faee54e2336"],["4caedbb070bec303"]]},{"id":"992b8294e0ae1a4f","type":"file","z":"615a331e854943d7","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1380,"y":400,"wires":[["933e5f38b285ad22"]]},{"id":"aff071f401ddf002","type":"function","z":"615a331e854943d7","name":"function 15","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":400,"wires":[["992b8294e0ae1a4f"]]},{"id":"933e5f38b285ad22","type":"debug","z":"615a331e854943d7","name":"debug 40","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":400,"wires":[]},{"id":"6a845756cc317d26","type":"file","z":"615a331e854943d7","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1160,"y":540,"wires":[["9cf589d4835bd286"]]},{"id":"519c20e828c4222e","type":"function","z":"615a331e854943d7","name":"function 16","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":540,"wires":[["6a845756cc317d26"]]},{"id":"9cf589d4835bd286","type":"debug","z":"615a331e854943d7","name":"debug 41","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":540,"wires":[]},{"id":"92d67bea133b123c","type":"file","z":"615a331e854943d7","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1220,"y":680,"wires":[["190f72a165563212"]]},{"id":"10c2ad97b47d033c","type":"function","z":"615a331e854943d7","name":"function 17","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":680,"wires":[["92d67bea133b123c"]]},{"id":"190f72a165563212","type":"debug","z":"615a331e854943d7","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":680,"wires":[]},{"id":"c393843e89295c41","type":"file","z":"615a331e854943d7","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1240,"y":840,"wires":[["938e425403d0b709"]]},{"id":"945a4889cf1aebd8","type":"function","z":"615a331e854943d7","name":"function 18","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":840,"wires":[["c393843e89295c41"]]},{"id":"938e425403d0b709","type":"debug","z":"615a331e854943d7","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":840,"wires":[]},{"id":"cecbbf38e29d5312","type":"serial-port","name":"","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]