Node Red Flows/All Cages (Command Tracker)/flows (5).json
[{"id":"c2b9cfc7e5b1b9e4","type":"tab","label":"Cage 1","disabled":false,"info":"","env":[]},{"id":"615a331e854943d7","type":"tab","label":"Cage 2","disabled":false,"info":"","env":[]},{"id":"5f7f2de28d3fc80b","type":"tab","label":"Cage 3","disabled":false,"info":"","env":[]},{"id":"c8450fbabd7d02ee","type":"tab","label":"Cage 4","disabled":false,"info":"","env":[]},{"id":"30debb299195992d","type":"serial-port","name":"","serialport":"COM16","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"58e669b4a46b9177","type":"serial-port","name":"","serialport":"COM12","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"95d1cf1e38d9d131","type":"serial-port","name":"","serialport":"COM12","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"cf387d5d4ea2cc5e","type":"serial-port","name":"","serialport":"COM12","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"c97b2ad3c8c88cd2","type":"serial-port","name":"","serialport":"COM17","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1302cc5ef28a4f07","type":"serial-port","name":"","serialport":"COM17","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"77bdba693d81a2a9","type":"serial-port","name":"","serialport":"COM16","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"95efcb1d39b59b08","type":"serial-port","name":"","serialport":"COM15","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"7efb05ec3cb8ee4a","type":"serial-port","name":"","serialport":"COM15","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"3c19f86473c843cb","type":"serial-port","name":"","serialport":"COM15","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"aec6e46c9f21d749","type":"serial-port","name":"","serialport":"COM18","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"cecbbf38e29d5312","type":"serial-port","name":"","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e4972ffe2801a6dd","type":"serial-port","name":"","serialport":"COM16","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e33994d2a7304ead","type":"serial-port","name":"","serialport":"COM7","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f1c926da4c74ad5e","type":"serial-port","name":"","serialport":"COM8","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"52b42c4dac76cc48","type":"serial-port","name":"","serialport":"COM16","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"546ab1b63fca568b","type":"serial-port","name":"","serialport":"COM16","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"157bdc2788abe662","type":"serial-port","name":"","serialport":"COM17","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ce7c5a748d2ee464","type":"serial-port","name":"","serialport":"COM18","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4f698da3c4689ca1","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":false}","payloadType":"json","x":740,"y":100,"wires":[["af707bc349b65b25"]]},{"id":"25f1fe02b5c0fd3d","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":510,"y":280,"wires":[]},{"id":"366d4b7be89fd345","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"Train Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"\"PLAY0\\n\"","payloadType":"json","x":210,"y":120,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"4ca0a04c1c564436","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED OFF\\n\"","payloadType":"json","x":211,"y":78,"wires":[["25f1fe02b5c0fd3d"]]},{"id":"9655b862552ebb65","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED ON\\n\"","payloadType":"json","x":210,"y":40,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"af707bc349b65b25","type":"serial control","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":920,"y":100,"wires":[["2e960aea49fb9f5f"]]},{"id":"2e960aea49fb9f5f","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":100,"wires":[]},{"id":"dcc27250b3f6a82f","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":220,"wires":[]},{"id":"6c344dcb8f4af627","type":"serial in","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":710,"y":160,"wires":[["21b643b8c9061bc8"]]},{"id":"21b643b8c9061bc8","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":160,"wires":[]},{"id":"3ea7b7dac227f48e","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"Siren Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY1\\n\"","payloadType":"json","x":210,"y":160,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"ac2ecb6e9d3839fe","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY2\\n\"","payloadType":"json","x":240,"y":200,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"704de39542d0cf60","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLUP\\n\"","payloadType":"json","x":200,"y":240,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"d0aa32c5585880dd","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLDOWN\\n\"","payloadType":"json","x":220,"y":280,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"834f1e4775621a52","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTOFF\\n\"","payloadType":"json","x":220,"y":360,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"4b1a4a6cc5123d11","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTON\\n\"","payloadType":"json","x":209,"y":322,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"c054fb2696137ef0","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTLR\\n\"","payloadType":"json","x":210,"y":400,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"159cf675b68c7b3f","type":"cronplus","z":"c2b9cfc7e5b1b9e4","name":"Train Schedule Cage 1","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 13 1 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 33 3 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 49 5 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 41 6 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 45 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 11 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 57 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 21 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 53 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 32 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 29 11 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 26 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 4 13 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule15","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 15 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule16","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 47 16 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule17","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 19 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule18","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 58 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule19","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 01 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule20","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 26 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule21","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 59 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule22","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 35 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule23","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 22 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule24","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 27 22 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule25","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 34 23 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":180,"y":480,"wires":[["8024e9055411915a","fbafaa054c7c8c50","901462b1d21ef31a"]]},{"id":"d3704d73aa6a64a1","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":460,"wires":[["ec20b4f5ed058cdc","fbafaa054c7c8c50","901462b1d21ef31a"]]},{"id":"8024e9055411915a","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["fbafaa054c7c8c50","d3704d73aa6a64a1","901462b1d21ef31a"]]},{"id":"73c69be77f4059f4","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":460,"wires":[["fbafaa054c7c8c50","acdeddda81e0b925","901462b1d21ef31a"]]},{"id":"ec20b4f5ed058cdc","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":460,"wires":[["37850cd4e71a68db"]]},{"id":"785d65241c0debc7","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":460,"wires":[["fbafaa054c7c8c50","901462b1d21ef31a"]]},{"id":"fbafaa054c7c8c50","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":590,"y":500,"wires":[]},{"id":"37850cd4e71a68db","type":"function","z":"c2b9cfc7e5b1b9e4","name":"Train Sound ","func":"msg. payload = \"PLAY0\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":420,"wires":[["678a50f43c4e91e3","73c69be77f4059f4","901462b1d21ef31a"]]},{"id":"678a50f43c4e91e3","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":1030,"y":420,"wires":[]},{"id":"acdeddda81e0b925","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":460,"wires":[["785d65241c0debc7"]]},{"id":"f0ea66b5e8b51f2a","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":1290,"y":340,"wires":[]},{"id":"175a5f9b0c3d1495","type":"function","z":"c2b9cfc7e5b1b9e4","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":260,"wires":[["f0ea66b5e8b51f2a","991e2176374f3961","c9a53dd61d2bde52"]]},{"id":"991e2176374f3961","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":260,"wires":[["8fa45888ecdc2d5b","f0ea66b5e8b51f2a","c9a53dd61d2bde52"]]},{"id":"8fa45888ecdc2d5b","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1380,"y":260,"wires":[["267f4ab4e2c0b563"]]},{"id":"267f4ab4e2c0b563","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":260,"wires":[["f0ea66b5e8b51f2a","dda55feba84e7889","c9a53dd61d2bde52"]]},{"id":"a97de9f31aa2168f","type":"cronplus","z":"c2b9cfc7e5b1b9e4","name":"Siren Schedule Cage 1","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 30 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":750,"y":260,"wires":[["dda55feba84e7889"]]},{"id":"8b3cfec5f34f6329","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":150,"y":640,"wires":[["6a2daf142d780eca"]]},{"id":"6a2daf142d780eca","type":"timegate","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Schedule 1","targetDateTime":"targetDateTime","targetDateTimeType":"msg","lat":0,"lon":0,"time_1":"15:14-15:14","day_1":"SUN,MON,TUE,WED,THU,FRI,SAT","week_1":"","month_1":"","time_2":"3:34-03:34","day_2":"SUN,MON,TUE,WED,THU,FRI,SAT","week_2":"","month_2":"","time_3":"","day_3":"","week_3":"","month_3":"","time_4":"","day_4":"","week_4":"","month_4":"","time_5":"","day_5":"","week_5":"","month_5":"","x":350,"y":640,"wires":[["ea025e7a0f42069b"],["dfe6bd8c0a389984"]]},{"id":"ea025e7a0f42069b","type":"function","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":580,"wires":[["60982c82122351d6","f9caf88888593d7b","a18d5f79559d033f"]]},{"id":"60982c82122351d6","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"58e669b4a46b9177","x":870,"y":660,"wires":[]},{"id":"f9caf88888593d7b","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":580,"wires":[["5cd667885624c107"]]},{"id":"dfe6bd8c0a389984","type":"function","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":740,"wires":[["93e496148bf695ce","0a7d238d084621c2","f4c94892cc2d87d6"]]},{"id":"93e496148bf695ce","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":890,"y":820,"wires":[]},{"id":"0a7d238d084621c2","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":740,"wires":[["90c5e0d486e77cf6"]]},{"id":"a3b14f83e26f90d5","type":"cronplus","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Schedule Cage 1","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 00 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 34 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":250,"y":560,"wires":[["8b3cfec5f34f6329"]]},{"id":"dda55feba84e7889","type":"counter-loop","z":"c2b9cfc7e5b1b9e4","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"22","terminationType":"num","increment":1,"incrementType":"num","x":1070,"y":340,"wires":[["f0ea66b5e8b51f2a"],["175a5f9b0c3d1495"]]},{"id":"5cd667885624c107","type":"counter-loop","z":"c2b9cfc7e5b1b9e4","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"60","terminationType":"num","increment":1,"incrementType":"num","x":670,"y":660,"wires":[["60982c82122351d6"],["ea025e7a0f42069b"]]},{"id":"90c5e0d486e77cf6","type":"counter-loop","z":"c2b9cfc7e5b1b9e4","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"102","terminationType":"num","increment":1,"incrementType":"num","x":690,"y":820,"wires":[["93e496148bf695ce"],["dfe6bd8c0a389984"]]},{"id":"868408fb25d58392","type":"file","z":"c2b9cfc7e5b1b9e4","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1250,"y":540,"wires":[["6f422aadc30b4365"]]},{"id":"901462b1d21ef31a","type":"function","z":"c2b9cfc7e5b1b9e4","name":"function 11","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":540,"wires":[["868408fb25d58392"]]},{"id":"6f422aadc30b4365","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1420,"y":540,"wires":[]},{"id":"4be90c0e6aa8032d","type":"file","z":"c2b9cfc7e5b1b9e4","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1460,"y":400,"wires":[["c3d08fd901d7f18c"]]},{"id":"c9a53dd61d2bde52","type":"function","z":"c2b9cfc7e5b1b9e4","name":"function 12","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":400,"wires":[["4be90c0e6aa8032d"]]},{"id":"c3d08fd901d7f18c","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 37","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1630,"y":400,"wires":[]},{"id":"4dbc71e374fc88cf","type":"file","z":"c2b9cfc7e5b1b9e4","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1220,"y":620,"wires":[["6d62d6fb6b716054"]]},{"id":"a18d5f79559d033f","type":"function","z":"c2b9cfc7e5b1b9e4","name":"function 13","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":620,"wires":[["4dbc71e374fc88cf"]]},{"id":"6d62d6fb6b716054","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":620,"wires":[]},{"id":"c6f616a617ee3842","type":"file","z":"c2b9cfc7e5b1b9e4","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1250,"y":780,"wires":[["0404a8923bec6638"]]},{"id":"f4c94892cc2d87d6","type":"function","z":"c2b9cfc7e5b1b9e4","name":"function 14","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":780,"wires":[["c6f616a617ee3842"]]},{"id":"0404a8923bec6638","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 39","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1420,"y":780,"wires":[]},{"id":"ed9978cee5ab8d21","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":false}","payloadType":"json","x":720,"y":100,"wires":[["bfb2ac36c6111fc3"]]},{"id":"8589378722a3ec18","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":470,"y":260,"wires":[]},{"id":"a50b7b3f498e1501","type":"inject","z":"615a331e854943d7","name":"Train Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY0\\n\"","payloadType":"json","x":210,"y":120,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"7757fb6d224a1e0a","type":"cronplus","z":"615a331e854943d7","name":"Train Schedule Cage 2","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 53 1 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 53 3 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 05 6 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 14 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 56 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 23 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 01 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 37 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 07 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 43 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 37 11 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 33 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 16 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 59 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule15","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 15 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule16","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 1 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule17","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 24 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule18","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 05 18 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule19","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 08 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule20","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 31 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule21","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 3 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule22","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule23","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 31 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule24","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 22 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule25","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 46 23 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":220,"y":480,"wires":[["8ec52360a10a0430","7b10bd28d0e6381f","519c20e828c4222e"]]},{"id":"73557da13711431c","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED OFF\\n\"","payloadType":"json","x":211,"y":78,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"4747a902d78e912e","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED ON\\n\"","payloadType":"json","x":210,"y":40,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"bfb2ac36c6111fc3","type":"serial control","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":870,"y":100,"wires":[["7b07eabe51f8ac4d"]]},{"id":"7b07eabe51f8ac4d","type":"debug","z":"615a331e854943d7","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":100,"wires":[]},{"id":"1b0d5e4ece8c5ade","type":"debug","z":"615a331e854943d7","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":200,"wires":[]},{"id":"01560b377938c42a","type":"serial in","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":690,"y":160,"wires":[["9986eabf277932b2"]]},{"id":"9986eabf277932b2","type":"debug","z":"615a331e854943d7","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":160,"wires":[]},{"id":"647b78d9d050dbc2","type":"inject","z":"615a331e854943d7","name":"Siren Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY1\\n\"","payloadType":"json","x":210,"y":160,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"93e1a2dd3b9e1211","type":"inject","z":"615a331e854943d7","name":"Jack Hammer Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY2\\n\"","payloadType":"json","x":240,"y":200,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"16671516ad76a83f","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLUP\\n\"","payloadType":"json","x":201,"y":238,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"8d6b37276f09eeb7","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLDOWN\\n\"","payloadType":"json","x":221,"y":278,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"16758d8f3e2f720d","type":"cronplus","z":"615a331e854943d7","name":"Siren Schedule Cage 2","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 32 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":770,"y":300,"wires":[["10630af4b8297109"]]},{"id":"b0a31128d5bd9201","type":"cronplus","z":"615a331e854943d7","name":"Jack Hammer Schedule Cage 2","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 00 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 54 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":250,"y":620,"wires":[["45fe37a3d6b07d8b"]]},{"id":"343695c1ac038472","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTOFF\\n\"","payloadType":"json","x":221,"y":358,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"249430bff0aea317","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTON\\n\"","payloadType":"json","x":210,"y":320,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"206ecc5061e10584","type":"function","z":"615a331e854943d7","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":460,"wires":[["7736fc0cbd7b1fb9","7b10bd28d0e6381f","519c20e828c4222e"]]},{"id":"8ec52360a10a0430","type":"function","z":"615a331e854943d7","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["206ecc5061e10584","7b10bd28d0e6381f","519c20e828c4222e"]]},{"id":"f34e483ee01cfae4","type":"function","z":"615a331e854943d7","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":460,"wires":[["7b10bd28d0e6381f","d6788957e23fe223","519c20e828c4222e"]]},{"id":"7736fc0cbd7b1fb9","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":460,"wires":[["408c5ba4b5d59429"]]},{"id":"1cda444ce674488e","type":"function","z":"615a331e854943d7","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":460,"wires":[["7b10bd28d0e6381f","519c20e828c4222e"]]},{"id":"7b10bd28d0e6381f","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":790,"y":520,"wires":[]},{"id":"ed6646712ee2c8a7","type":"inject","z":"615a331e854943d7","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTLR\\n\"","payloadType":"json","x":210,"y":400,"wires":[["8589378722a3ec18","1b0d5e4ece8c5ade"]]},{"id":"408c5ba4b5d59429","type":"function","z":"615a331e854943d7","name":"Train Sound ","func":"msg. payload = \"PLAY0\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":420,"wires":[["a52784f489db5a3f","f34e483ee01cfae4","519c20e828c4222e"]]},{"id":"a52784f489db5a3f","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":1010,"y":420,"wires":[]},{"id":"e39e3f0d2ccb2b9d","type":"timegate","z":"615a331e854943d7","name":"Jack Hammer Schedule 2","targetDateTime":"targetDateTime","targetDateTimeType":"msg","lat":0,"lon":0,"time_1":"3:00-3:00","day_1":"SUN,MON,TUE,WED,THU,FRI,SAT","week_1":"","month_1":"","time_2":"3:54-03:54","day_2":"SUN,MON,TUE,WED,THU,FRI,SAT","week_2":"","month_2":"","time_3":"","day_3":"","week_3":"","month_3":"","time_4":"","day_4":"","week_4":"","month_4":"","time_5":"","day_5":"","week_5":"","month_5":"","x":310,"y":700,"wires":[["940848ee4d6a601b"],["4caedbb070bec303"]]},{"id":"45fe37a3d6b07d8b","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":110,"y":700,"wires":[["e39e3f0d2ccb2b9d"]]},{"id":"d6788957e23fe223","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1080,"y":460,"wires":[["1cda444ce674488e"]]},{"id":"ce11848855a0a6a8","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":1330,"y":340,"wires":[]},{"id":"d62374f39e631e57","type":"function","z":"615a331e854943d7","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":260,"wires":[["ce11848855a0a6a8","b7bed690d7238bce","aff071f401ddf002"]]},{"id":"b7bed690d7238bce","type":"function","z":"615a331e854943d7","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":260,"wires":[["b9855999d650e29c","ce11848855a0a6a8","aff071f401ddf002"]]},{"id":"b9855999d650e29c","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1420,"y":260,"wires":[["e3fc9911e87a7dd0"]]},{"id":"e3fc9911e87a7dd0","type":"function","z":"615a331e854943d7","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":260,"wires":[["ce11848855a0a6a8","10630af4b8297109","aff071f401ddf002"]]},{"id":"940848ee4d6a601b","type":"function","z":"615a331e854943d7","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":640,"wires":[["8d51e02954d70ffa","80755c33397afd8c","10c2ad97b47d033c"]]},{"id":"8d51e02954d70ffa","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":870,"y":720,"wires":[]},{"id":"80755c33397afd8c","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":640,"wires":[["8eff51857f4a4b8f"]]},{"id":"4caedbb070bec303","type":"function","z":"615a331e854943d7","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":800,"wires":[["1f060faee54e2336","1cd902e4088d1340","945a4889cf1aebd8"]]},{"id":"1f060faee54e2336","type":"serial out","z":"615a331e854943d7","name":"","serial":"cecbbf38e29d5312","x":890,"y":880,"wires":[]},{"id":"1cd902e4088d1340","type":"delay","z":"615a331e854943d7","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":800,"wires":[["16bf3da3b03b6715"]]},{"id":"10630af4b8297109","type":"counter-loop","z":"615a331e854943d7","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"22","terminationType":"num","increment":1,"incrementType":"num","x":1110,"y":340,"wires":[["ce11848855a0a6a8"],["d62374f39e631e57"]]},{"id":"8eff51857f4a4b8f","type":"counter-loop","z":"615a331e854943d7","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"60","terminationType":"num","increment":1,"incrementType":"num","x":670,"y":720,"wires":[["8d51e02954d70ffa"],["940848ee4d6a601b"]]},{"id":"16bf3da3b03b6715","type":"counter-loop","z":"615a331e854943d7","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"102","terminationType":"num","increment":1,"incrementType":"num","x":690,"y":880,"wires":[["1f060faee54e2336"],["4caedbb070bec303"]]},{"id":"992b8294e0ae1a4f","type":"file","z":"615a331e854943d7","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1380,"y":400,"wires":[["933e5f38b285ad22"]]},{"id":"aff071f401ddf002","type":"function","z":"615a331e854943d7","name":"function 15","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":400,"wires":[["992b8294e0ae1a4f"]]},{"id":"933e5f38b285ad22","type":"debug","z":"615a331e854943d7","name":"debug 40","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1550,"y":400,"wires":[]},{"id":"6a845756cc317d26","type":"file","z":"615a331e854943d7","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1160,"y":540,"wires":[["9cf589d4835bd286"]]},{"id":"519c20e828c4222e","type":"function","z":"615a331e854943d7","name":"function 16","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":540,"wires":[["6a845756cc317d26"]]},{"id":"9cf589d4835bd286","type":"debug","z":"615a331e854943d7","name":"debug 41","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":540,"wires":[]},{"id":"92d67bea133b123c","type":"file","z":"615a331e854943d7","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1220,"y":680,"wires":[["190f72a165563212"]]},{"id":"10c2ad97b47d033c","type":"function","z":"615a331e854943d7","name":"function 17","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":680,"wires":[["92d67bea133b123c"]]},{"id":"190f72a165563212","type":"debug","z":"615a331e854943d7","name":"debug 42","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1390,"y":680,"wires":[]},{"id":"c393843e89295c41","type":"file","z":"615a331e854943d7","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1240,"y":840,"wires":[["938e425403d0b709"]]},{"id":"945a4889cf1aebd8","type":"function","z":"615a331e854943d7","name":"function 18","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":840,"wires":[["c393843e89295c41"]]},{"id":"938e425403d0b709","type":"debug","z":"615a331e854943d7","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":840,"wires":[]},{"id":"7a0c32fc0ea61c9f","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":false}","payloadType":"json","x":720,"y":80,"wires":[["78e6918d32fd789d"]]},{"id":"9f0e24eaaba88b85","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":490,"y":260,"wires":[]},{"id":"8a2c2ab7dfca25b3","type":"inject","z":"5f7f2de28d3fc80b","name":"Train Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY0\\n\"","payloadType":"json","x":210,"y":120,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"417e3b5834f06796","type":"cronplus","z":"5f7f2de28d3fc80b","name":"Train Schedule Cage 3","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 42 0 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 32 2 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 33 4 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 20 6 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 20 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 1 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 48 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 06 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 42 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 12 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 58 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 11 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 32 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule15","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 14 15 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule16","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 0 16 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule17","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 5 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule18","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 37 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule19","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 21 18 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule20","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 16 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule21","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 40 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule22","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 11 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule23","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 7 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule24","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 47 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule25","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 2 23 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":240,"y":460,"wires":[["8ce6389e8d657ae9","54561312a043c9b2","388b77c2e0da36e9"]]},{"id":"4b1a63dbcc31f848","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED OFF\\n\"","payloadType":"json","x":211,"y":78,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"207d25998402f1d1","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED ON\\n\"","payloadType":"json","x":210,"y":40,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"78e6918d32fd789d","type":"serial control","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":890,"y":80,"wires":[["0fbdf8268d3b3390"]]},{"id":"0fbdf8268d3b3390","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":80,"wires":[]},{"id":"9b22327203e110d5","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":200,"wires":[]},{"id":"58c767771771e8ed","type":"serial in","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":690,"y":140,"wires":[["b4105c66b3cc7af0"]]},{"id":"b4105c66b3cc7af0","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 22","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":140,"wires":[]},{"id":"77172043fffa47e2","type":"inject","z":"5f7f2de28d3fc80b","name":"Siren Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY1\\n\"","payloadType":"json","x":210,"y":160,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"189281262f363f78","type":"inject","z":"5f7f2de28d3fc80b","name":"Jack Hammer Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY2\\n\"","payloadType":"json","x":240,"y":200,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"9e6a3e77aed7faf5","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLUP\\n\"","payloadType":"json","x":200,"y":240,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"de94a198c1344946","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLDOWN\\n\"","payloadType":"json","x":220,"y":280,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"b5c03d35493a6ac3","type":"cronplus","z":"5f7f2de28d3fc80b","name":"Siren Schedule Cage 3","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 30 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 30 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":250,"y":660,"wires":[["4cc845e691892ccc"]]},{"id":"f3d8309b55fa2e32","type":"cronplus","z":"5f7f2de28d3fc80b","name":"Jack Hammer Schedule Cage 3","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 00 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":770,"y":300,"wires":[["de2f5faa07d4027e"]]},{"id":"8424cecca93862dc","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTOFF\\n\"","payloadType":"json","x":220,"y":360,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"a37211263b4e2498","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTON\\n\"","payloadType":"json","x":209,"y":322,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"bc0df415d0e19d4a","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":460,"wires":[["08621071565afabf","54561312a043c9b2","388b77c2e0da36e9"]]},{"id":"8ce6389e8d657ae9","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["bc0df415d0e19d4a","54561312a043c9b2","388b77c2e0da36e9"]]},{"id":"5618728dbff8754a","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":460,"wires":[["54561312a043c9b2","a277212bd8f7dc53","388b77c2e0da36e9"]]},{"id":"08621071565afabf","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":460,"wires":[["39a5a29663847ddb"]]},{"id":"a14af0492a423456","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":460,"wires":[["54561312a043c9b2","388b77c2e0da36e9"]]},{"id":"54561312a043c9b2","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":610,"y":500,"wires":[]},{"id":"8d554bc38538821b","type":"inject","z":"5f7f2de28d3fc80b","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTLR\\n\"","payloadType":"json","x":210,"y":400,"wires":[["9f0e24eaaba88b85","9b22327203e110d5"]]},{"id":"39a5a29663847ddb","type":"function","z":"5f7f2de28d3fc80b","name":"Train Sound ","func":"msg. payload = \"PLAY0\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":420,"wires":[["0af68e8590572b86","5618728dbff8754a","388b77c2e0da36e9"]]},{"id":"0af68e8590572b86","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":1010,"y":420,"wires":[]},{"id":"c9374bdf8ea3ae51","type":"timegate","z":"5f7f2de28d3fc80b","name":"Siren Schedule 3","targetDateTime":"targetDateTime","targetDateTimeType":"msg","lat":0,"lon":0,"time_1":"19:30-19:30","day_1":"SUN,MON,TUE,WED,THU,FRI,SAT","week_1":"","month_1":"","time_2":"19:41-19:41","day_2":"SUN,MON,TUE,WED,THU,FRI,SAT","week_2":"","month_2":"","time_3":"","day_3":"","week_3":"","month_3":"","time_4":"","day_4":"","week_4":"","month_4":"","time_5":"","day_5":"","week_5":"","month_5":"","x":330,"y":740,"wires":[["660e0530065ae184"],["90f47ece12375c1c"]]},{"id":"4cc845e691892ccc","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":150,"y":740,"wires":[["c9374bdf8ea3ae51"]]},{"id":"a277212bd8f7dc53","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":460,"wires":[["a14af0492a423456"]]},{"id":"c269d6b769dcb00c","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":830,"y":680,"wires":[]},{"id":"bf2e137153a5f7d3","type":"function","z":"5f7f2de28d3fc80b","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":600,"wires":[["c269d6b769dcb00c","6a8a3c90a4354fae","95b6c415852d086d"]]},{"id":"6a8a3c90a4354fae","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":600,"wires":[["1222158c17454f20","c269d6b769dcb00c","95b6c415852d086d"]]},{"id":"1222158c17454f20","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920,"y":600,"wires":[["a2cd481e7c38f835"]]},{"id":"a2cd481e7c38f835","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":600,"wires":[["c269d6b769dcb00c","660e0530065ae184","95b6c415852d086d"]]},{"id":"6f572040445de622","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":890,"y":860,"wires":[]},{"id":"f8fd24840f243d30","type":"function","z":"5f7f2de28d3fc80b","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":780,"wires":[["6f572040445de622","5a94e191652c3960","950185c5ba3e041b"]]},{"id":"5a94e191652c3960","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":780,"wires":[["4894e8c06e16401b","6f572040445de622","950185c5ba3e041b"]]},{"id":"4894e8c06e16401b","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":780,"wires":[["cb9cda2537f4fc7d"]]},{"id":"cb9cda2537f4fc7d","type":"function","z":"5f7f2de28d3fc80b","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":780,"wires":[["6f572040445de622","90f47ece12375c1c","950185c5ba3e041b"]]},{"id":"de2f5faa07d4027e","type":"function","z":"5f7f2de28d3fc80b","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":240,"wires":[["16cc94e34b842078","c090578872826837","978f0f7dfc82a918"]]},{"id":"16cc94e34b842078","type":"serial out","z":"5f7f2de28d3fc80b","name":"","serial":"e33994d2a7304ead","x":1310,"y":320,"wires":[]},{"id":"c090578872826837","type":"delay","z":"5f7f2de28d3fc80b","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1300,"y":240,"wires":[["483834d0bb649c15"]]},{"id":"660e0530065ae184","type":"counter-loop","z":"5f7f2de28d3fc80b","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"8","terminationType":"num","increment":1,"incrementType":"num","x":600,"y":680,"wires":[["c269d6b769dcb00c"],["bf2e137153a5f7d3"]]},{"id":"90f47ece12375c1c","type":"counter-loop","z":"5f7f2de28d3fc80b","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"15","terminationType":"num","increment":1,"incrementType":"num","x":670,"y":860,"wires":[["6f572040445de622"],["f8fd24840f243d30"]]},{"id":"483834d0bb649c15","type":"counter-loop","z":"5f7f2de28d3fc80b","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"60","terminationType":"num","increment":1,"incrementType":"num","x":1110,"y":320,"wires":[["16cc94e34b842078"],["de2f5faa07d4027e"]]},{"id":"85b24ea99aa84a7d","type":"file","z":"5f7f2de28d3fc80b","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1430,"y":380,"wires":[["7f843c3806cac074"]]},{"id":"978f0f7dfc82a918","type":"function","z":"5f7f2de28d3fc80b","name":"function 19","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":380,"wires":[["85b24ea99aa84a7d"]]},{"id":"7f843c3806cac074","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 44","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1600,"y":380,"wires":[]},{"id":"12974d3587cc8e52","type":"file","z":"5f7f2de28d3fc80b","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1010,"y":520,"wires":[["cb4e5af14572a82d"]]},{"id":"388b77c2e0da36e9","type":"function","z":"5f7f2de28d3fc80b","name":"function 20","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":520,"wires":[["12974d3587cc8e52"]]},{"id":"cb4e5af14572a82d","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":520,"wires":[]},{"id":"7a749530dbaf6a1c","type":"file","z":"5f7f2de28d3fc80b","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1130,"y":720,"wires":[["2cda6fe16e02d01b"]]},{"id":"95b6c415852d086d","type":"function","z":"5f7f2de28d3fc80b","name":"function 21","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":720,"wires":[["7a749530dbaf6a1c"]]},{"id":"2cda6fe16e02d01b","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 46","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":720,"wires":[]},{"id":"7d8a3f117baff7b7","type":"file","z":"5f7f2de28d3fc80b","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1050,"y":920,"wires":[["43dca9db83ebb500"]]},{"id":"950185c5ba3e041b","type":"function","z":"5f7f2de28d3fc80b","name":"function 22","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":920,"wires":[["7d8a3f117baff7b7"]]},{"id":"43dca9db83ebb500","type":"debug","z":"5f7f2de28d3fc80b","name":"debug 47","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":920,"wires":[]},{"id":"ddc42b8a82c1bbaa","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":false}","payloadType":"json","x":740,"y":80,"wires":[["7f163216b286a7f0"]]},{"id":"8c740663accd83ef","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":511,"y":258,"wires":[]},{"id":"9d17ba5244579020","type":"inject","z":"c8450fbabd7d02ee","name":"Train Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY0\\n\"","payloadType":"json","x":211,"y":118,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"5dc6e612b5efff73","type":"cronplus","z":"c8450fbabd7d02ee","name":"Train Schedule Cage 4","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 58 0 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 52 2 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 34 5 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 31 6 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 27 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 07 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 15 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 45 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 28 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 04 11 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 12 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 53 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule15","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 21 15 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule16","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 21 16 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule17","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 10 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule18","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule19","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 57 18 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule20","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 20 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule21","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 49 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule22","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 26 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule23","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 17 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule24","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 05 22 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule25","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 22 23 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":240,"y":440,"wires":[["9d2fb0fc3b7378d2","f6ae129a7247ed0c","95c8ada0070ea85f"]]},{"id":"8d1145ae7b56fcd8","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED OFF\\n\"","payloadType":"json","x":212,"y":76,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"ac4ea7994ce48f62","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED ON\\n\"","payloadType":"json","x":211,"y":38,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"7f163216b286a7f0","type":"serial control","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":910,"y":80,"wires":[["1dcead8dc2b9a820"]]},{"id":"1dcead8dc2b9a820","type":"debug","z":"c8450fbabd7d02ee","name":"debug 24","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":80,"wires":[]},{"id":"da6efdaf5aad242e","type":"debug","z":"c8450fbabd7d02ee","name":"debug 25","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":521,"y":198,"wires":[]},{"id":"da257dc2e9f2bfde","type":"serial in","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":710,"y":140,"wires":[["5b7ba0b1ed862277"]]},{"id":"5b7ba0b1ed862277","type":"debug","z":"c8450fbabd7d02ee","name":"debug 26","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":140,"wires":[]},{"id":"702f36cf80c76338","type":"inject","z":"c8450fbabd7d02ee","name":"Siren Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY1\\n\"","payloadType":"json","x":211,"y":158,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"57d2442b50cec939","type":"inject","z":"c8450fbabd7d02ee","name":"Jack Hammer Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY2\\n\"","payloadType":"json","x":241,"y":198,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"27f89d09fb12855e","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLUP\\n\"","payloadType":"json","x":201,"y":238,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"07086f7165acce9d","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLDOWN\\n\"","payloadType":"json","x":221,"y":278,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"d6c8b7b150ba3063","type":"cronplus","z":"c8450fbabd7d02ee","name":"Siren Schedule Cage 4","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 30 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 50 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":250,"y":640,"wires":[["1727b53bbea8a40f"]]},{"id":"a20a5bf8b637b290","type":"cronplus","z":"c8450fbabd7d02ee","name":"Jack Hammer Schedule Cage 4","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 00 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":790,"y":280,"wires":[["90c040694da0422d"]]},{"id":"4d5d51139d7ab5ff","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTOFF\\n\"","payloadType":"json","x":221,"y":358,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"c2cc05c3bb9caf31","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTON\\n\"","payloadType":"json","x":210,"y":320,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"12a9f36e04489a31","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":440,"wires":[["a24cbd7de6a68bbd","f6ae129a7247ed0c","95c8ada0070ea85f"]]},{"id":"9d2fb0fc3b7378d2","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[["12a9f36e04489a31","f6ae129a7247ed0c","95c8ada0070ea85f"]]},{"id":"cc8feb4c191af961","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":440,"wires":[["f6ae129a7247ed0c","9ddcd9e52b0f8b71","95c8ada0070ea85f"]]},{"id":"a24cbd7de6a68bbd","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":440,"wires":[["c6168621484f03fb"]]},{"id":"16be993ee1d70d09","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":440,"wires":[["f6ae129a7247ed0c","95c8ada0070ea85f"]]},{"id":"c15c06ab4a483508","type":"inject","z":"c8450fbabd7d02ee","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTLR\\n\"","payloadType":"json","x":211,"y":398,"wires":[["8c740663accd83ef","da6efdaf5aad242e"]]},{"id":"f6ae129a7247ed0c","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":610,"y":480,"wires":[]},{"id":"c6168621484f03fb","type":"function","z":"c8450fbabd7d02ee","name":"Train Sound ","func":"msg. payload = \"PLAY0\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":400,"wires":[["4938da8209c72a04","cc8feb4c191af961","95c8ada0070ea85f"]]},{"id":"4938da8209c72a04","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":990,"y":400,"wires":[]},{"id":"a8416aafdc8b3cdb","type":"timegate","z":"c8450fbabd7d02ee","name":"Siren Schedule 4","targetDateTime":"targetDateTime","targetDateTimeType":"msg","lat":0,"lon":0,"time_1":"19:30-19:30","day_1":"SUN,MON,TUE,WED,THU,FRI,SAT","week_1":"","month_1":"","time_2":"19:50-19:50","day_2":"SUN,MON,TUE,WED,THU,FRI,SAT","week_2":"","month_2":"","time_3":"","day_3":"","week_3":"","month_3":"","time_4":"","day_4":"","week_4":"","month_4":"","time_5":"","day_5":"","week_5":"","month_5":"","x":350,"y":740,"wires":[["9deae95dd3c574b3"],["c7026b5320bf3ad9"]]},{"id":"1727b53bbea8a40f","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":170,"y":740,"wires":[["a8416aafdc8b3cdb"]]},{"id":"9ddcd9e52b0f8b71","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":440,"wires":[["16be993ee1d70d09"]]},{"id":"ddbaabd54fdfc29a","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":830,"y":660,"wires":[]},{"id":"2b48f4eea759cae7","type":"function","z":"c8450fbabd7d02ee","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":580,"wires":[["ddbaabd54fdfc29a","db89f0cca59ba36a","6ce908c10e88d8f3"]]},{"id":"db89f0cca59ba36a","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":580,"wires":[["55d51d1b52400f81","ddbaabd54fdfc29a","6ce908c10e88d8f3"]]},{"id":"55d51d1b52400f81","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920,"y":580,"wires":[["18e8ce2b26a5b8ba"]]},{"id":"18e8ce2b26a5b8ba","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":580,"wires":[["ddbaabd54fdfc29a","9deae95dd3c574b3","6ce908c10e88d8f3"]]},{"id":"e697e1923d93db28","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":890,"y":820,"wires":[]},{"id":"9bd645d1790707aa","type":"function","z":"c8450fbabd7d02ee","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":740,"wires":[["e697e1923d93db28","ed248c7cd3aea188","6ce908c10e88d8f3"]]},{"id":"ed248c7cd3aea188","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":740,"wires":[["a6d7120927152959","e697e1923d93db28","6ce908c10e88d8f3"]]},{"id":"a6d7120927152959","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":980,"y":740,"wires":[["945d869a3b79e427"]]},{"id":"945d869a3b79e427","type":"function","z":"c8450fbabd7d02ee","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":740,"wires":[["e697e1923d93db28","c7026b5320bf3ad9","6ce908c10e88d8f3"]]},{"id":"90c040694da0422d","type":"function","z":"c8450fbabd7d02ee","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":240,"wires":[["df50a7c983e98bb8","6ecf499c7dc4fc31","79c77c1b18a78aa1"]]},{"id":"df50a7c983e98bb8","type":"serial out","z":"c8450fbabd7d02ee","name":"","serial":"f1c926da4c74ad5e","x":1370,"y":320,"wires":[]},{"id":"6ecf499c7dc4fc31","type":"delay","z":"c8450fbabd7d02ee","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1360,"y":240,"wires":[["6b2c083941e11f7c"]]},{"id":"9deae95dd3c574b3","type":"counter-loop","z":"c8450fbabd7d02ee","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"15","terminationType":"num","increment":1,"incrementType":"num","x":610,"y":660,"wires":[["ddbaabd54fdfc29a"],["2b48f4eea759cae7"]]},{"id":"c7026b5320bf3ad9","type":"counter-loop","z":"c8450fbabd7d02ee","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"8","terminationType":"num","increment":1,"incrementType":"num","x":660,"y":820,"wires":[["e697e1923d93db28"],["9bd645d1790707aa"]]},{"id":"6b2c083941e11f7c","type":"counter-loop","z":"c8450fbabd7d02ee","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"60","terminationType":"num","increment":1,"incrementType":"num","x":1170,"y":320,"wires":[["df50a7c983e98bb8"],["90c040694da0422d"]]},{"id":"df584dbf8313eef8","type":"file","z":"c8450fbabd7d02ee","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1340,"y":380,"wires":[["677cfb9d02f6827a"]]},{"id":"79c77c1b18a78aa1","type":"function","z":"c8450fbabd7d02ee","name":"function 23","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":380,"wires":[["df584dbf8313eef8"]]},{"id":"677cfb9d02f6827a","type":"debug","z":"c8450fbabd7d02ee","name":"debug 48","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":380,"wires":[]},{"id":"d14b010d7a03cc1d","type":"file","z":"c8450fbabd7d02ee","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":990,"y":500,"wires":[["f3b45396f4060bf7"]]},{"id":"95c8ada0070ea85f","type":"function","z":"c8450fbabd7d02ee","name":"function 24","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":500,"wires":[["d14b010d7a03cc1d"]]},{"id":"f3b45396f4060bf7","type":"debug","z":"c8450fbabd7d02ee","name":"debug 49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":500,"wires":[]},{"id":"c9e760825b5d2aa7","type":"file","z":"c8450fbabd7d02ee","name":"delayout.txt","filename":"C:\\Users\\NGENS admin\\Dropbox (Graduate Center)\\Neuroscience\\Mouse city\\Arduino\\light_sound_1\\delayout.txt","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1170,"y":660,"wires":[["ece9e59239c2364f"]]},{"id":"6ce908c10e88d8f3","type":"function","z":"c8450fbabd7d02ee","name":"function 25","func":"// Get current date and time\nlet now = new Date();\n\n// Format timestamp as YYYY-MM-DD HH:MM:SS\nlet timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\n\n// Append the timestamp to the message\nmsg.payload = `${timestamp} - ${msg.payload}`;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":660,"wires":[["c9e760825b5d2aa7"]]},{"id":"ece9e59239c2364f","type":"debug","z":"c8450fbabd7d02ee","name":"debug 50","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1340,"y":660,"wires":[]}]