Node Red Flows/Cage 1/flows (1).json
[{"id":"c2b9cfc7e5b1b9e4","type":"tab","label":"Cage 1","disabled":false,"info":"","env":[]},{"id":"4f698da3c4689ca1","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"enabled\":false}","payloadType":"json","x":740,"y":100,"wires":[["af707bc349b65b25"]]},{"id":"25f1fe02b5c0fd3d","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":510,"y":280,"wires":[]},{"id":"366d4b7be89fd345","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"Train Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"\"PLAY0\\n\"","payloadType":"json","x":210,"y":120,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"4ca0a04c1c564436","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED OFF\\n\"","payloadType":"json","x":211,"y":78,"wires":[["25f1fe02b5c0fd3d"]]},{"id":"9655b862552ebb65","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LED ON\\n\"","payloadType":"json","x":210,"y":40,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"af707bc349b65b25","type":"serial control","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":920,"y":100,"wires":[["2e960aea49fb9f5f"]]},{"id":"2e960aea49fb9f5f","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":100,"wires":[]},{"id":"dcc27250b3f6a82f","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 13","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":220,"wires":[]},{"id":"6c344dcb8f4af627","type":"serial in","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":710,"y":160,"wires":[["21b643b8c9061bc8"]]},{"id":"21b643b8c9061bc8","type":"debug","z":"c2b9cfc7e5b1b9e4","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":160,"wires":[]},{"id":"3ea7b7dac227f48e","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"Siren Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY1\\n\"","payloadType":"json","x":210,"y":160,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"ac2ecb6e9d3839fe","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Sound","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"PLAY2\\n\"","payloadType":"json","x":240,"y":200,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"704de39542d0cf60","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLUP\\n\"","payloadType":"json","x":200,"y":240,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"d0aa32c5585880dd","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"VOLDOWN\\n\"","payloadType":"json","x":220,"y":280,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"834f1e4775621a52","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTOFF\\n\"","payloadType":"json","x":220,"y":360,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"4b1a4a6cc5123d11","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTON\\n\"","payloadType":"json","x":209,"y":322,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"c054fb2696137ef0","type":"inject","z":"c2b9cfc7e5b1b9e4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"LIGHTLR\\n\"","payloadType":"json","x":210,"y":400,"wires":[["25f1fe02b5c0fd3d","dcc27250b3f6a82f"]]},{"id":"159cf675b68c7b3f","type":"cronplus","z":"c2b9cfc7e5b1b9e4","name":"Train Schedule Cage 1","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 13 1 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 33 3 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule3","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 49 5 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule4","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 41 6 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule5","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 45 7 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule6","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 11 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule7","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 57 8 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule8","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 21 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule9","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 53 9 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule10","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 32 10 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule11","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 29 11 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule12","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 26 12 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule13","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 4 13 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule14","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 51 14 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule15","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 44 15 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule16","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 47 16 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule17","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 19 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule18","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 58 17 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule19","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 01 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule20","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 26 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule21","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 59 19 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule22","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 35 20 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule23","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 22 21 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule24","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 27 22 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule25","topic":"Train","payloadType":"json","payload":"\"PLAY0\\n\"","expressionType":"cron","expression":"0 34 23 ? * MON-SUN *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":180,"y":480,"wires":[["8024e9055411915a","fbafaa054c7c8c50"]]},{"id":"d3704d73aa6a64a1","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":460,"wires":[["ec20b4f5ed058cdc","fbafaa054c7c8c50"]]},{"id":"8024e9055411915a","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["fbafaa054c7c8c50","d3704d73aa6a64a1"]]},{"id":"73c69be77f4059f4","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTLR","func":"msg.payload = \"LIGHTLR\\n\";\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":460,"wires":[["fbafaa054c7c8c50","acdeddda81e0b925"]]},{"id":"ec20b4f5ed058cdc","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":460,"wires":[["37850cd4e71a68db"]]},{"id":"785d65241c0debc7","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":460,"wires":[["fbafaa054c7c8c50"]]},{"id":"fbafaa054c7c8c50","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":590,"y":500,"wires":[]},{"id":"37850cd4e71a68db","type":"function","z":"c2b9cfc7e5b1b9e4","name":"Train Sound ","func":"msg. payload = \"PLAY0\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":420,"wires":[["678a50f43c4e91e3","73c69be77f4059f4"]]},{"id":"678a50f43c4e91e3","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":1030,"y":420,"wires":[]},{"id":"acdeddda81e0b925","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"21","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":460,"wires":[["785d65241c0debc7"]]},{"id":"f0ea66b5e8b51f2a","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":1290,"y":340,"wires":[]},{"id":"175a5f9b0c3d1495","type":"function","z":"c2b9cfc7e5b1b9e4","name":"Siren Hammer Sound","func":"msg. payload = \"PLAY1\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":260,"wires":[["f0ea66b5e8b51f2a","991e2176374f3961"]]},{"id":"991e2176374f3961","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTON","func":"msg.payload = \"LIGHTON\\n\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":260,"wires":[["8fa45888ecdc2d5b","f0ea66b5e8b51f2a"]]},{"id":"8fa45888ecdc2d5b","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"85","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1380,"y":260,"wires":[["267f4ab4e2c0b563"]]},{"id":"267f4ab4e2c0b563","type":"function","z":"c2b9cfc7e5b1b9e4","name":"LIGHTOFF","func":"msg.payload = \"LIGHTOFF\\n\";\nmsg.counter = 1\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":260,"wires":[["f0ea66b5e8b51f2a","dda55feba84e7889"]]},{"id":"a97de9f31aa2168f","type":"cronplus","z":"c2b9cfc7e5b1b9e4","name":"Siren Schedule Cage 1","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY1\\n\"","expressionType":"cron","expression":"0 30 19 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":750,"y":260,"wires":[["dda55feba84e7889"]]},{"id":"8b3cfec5f34f6329","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":150,"y":640,"wires":[["6a2daf142d780eca"]]},{"id":"6a2daf142d780eca","type":"timegate","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Schedule 1","targetDateTime":"targetDateTime","targetDateTimeType":"msg","lat":0,"lon":0,"time_1":"15:14-15:14","day_1":"SUN,MON,TUE,WED,THU,FRI,SAT","week_1":"","month_1":"","time_2":"3:34-03:34","day_2":"SUN,MON,TUE,WED,THU,FRI,SAT","week_2":"","month_2":"","time_3":"","day_3":"","week_3":"","month_3":"","time_4":"","day_4":"","week_4":"","month_4":"","time_5":"","day_5":"","week_5":"","month_5":"","x":350,"y":640,"wires":[["ea025e7a0f42069b"],["dfe6bd8c0a389984"]]},{"id":"ea025e7a0f42069b","type":"function","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":580,"wires":[["60982c82122351d6","f9caf88888593d7b"]]},{"id":"60982c82122351d6","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"58e669b4a46b9177","x":870,"y":660,"wires":[]},{"id":"f9caf88888593d7b","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":580,"wires":[["5cd667885624c107"]]},{"id":"dfe6bd8c0a389984","type":"function","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Sound","func":"msg. payload = \"PLAY2\\n\"\nmsg.counter = 1\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":740,"wires":[["93e496148bf695ce","0a7d238d084621c2"]]},{"id":"93e496148bf695ce","type":"serial out","z":"c2b9cfc7e5b1b9e4","name":"","serial":"95d1cf1e38d9d131","x":890,"y":820,"wires":[]},{"id":"0a7d238d084621c2","type":"delay","z":"c2b9cfc7e5b1b9e4","name":"","pauseType":"delay","timeout":"55","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":740,"wires":[["90c5e0d486e77cf6"]]},{"id":"a3b14f83e26f90d5","type":"cronplus","z":"c2b9cfc7e5b1b9e4","name":"Jack Hammer Schedule Cage 1","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 00 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"schedule2","topic":"topic2","payloadType":"json","payload":"\"PLAY2\\n\"","expressionType":"cron","expression":"0 34 3 ? * MON-SUN  *","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":250,"y":560,"wires":[["8b3cfec5f34f6329"]]},{"id":"dda55feba84e7889","type":"counter-loop","z":"c2b9cfc7e5b1b9e4","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"22","terminationType":"num","increment":1,"incrementType":"num","x":1070,"y":340,"wires":[["f0ea66b5e8b51f2a"],["175a5f9b0c3d1495"]]},{"id":"5cd667885624c107","type":"counter-loop","z":"c2b9cfc7e5b1b9e4","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"60","terminationType":"num","increment":1,"incrementType":"num","x":670,"y":660,"wires":[["60982c82122351d6"],["ea025e7a0f42069b"]]},{"id":"90c5e0d486e77cf6","type":"counter-loop","z":"c2b9cfc7e5b1b9e4","name":"","counter":"1","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"102","terminationType":"num","increment":1,"incrementType":"num","x":690,"y":820,"wires":[["93e496148bf695ce"],["dfe6bd8c0a389984"]]},{"id":"95d1cf1e38d9d131","type":"serial-port","name":"","serialport":"COM12","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"58e669b4a46b9177","type":"serial-port","name":"","serialport":"COM12","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]